NEXT_PUBLIC_SUPABASE_URL=https://yxxhapzealzmktdislsc.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inl4eGhhcHplYWx6bWt0ZGlzbHNjIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ3NjEwMzUsImV4cCI6MjA5MDMzNzAzNX0.VxcTqOfSjcQh9lhx8nhWK5v-ED5uxYDEWTs3UZfdK2o
NEXT_PUBLIC_BACKEND_URL=http://localhost:5000
